@import "tailwindcss";
@import "@nuxt/ui";

.ai, .assistant {
  margin-bottom: calc(var(--spacing) * 8);
}

.assistant p {
  margin-bottom: calc(var(--spacing) * 4);
}

.assistant ol, .assistant ul {
  margin-left: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 4);
  list-style: bullet;
}

.assistant ol > li, .assistant ul > li {
  margin-bottom: calc(var(--spacing) * 2);
}

.assistant a:hover {
  text-decoration: underline;
}

.user {
  text-align: right;
  margin-bottom: calc(var(--spacing) * 8);
}

.waviy {
  position: relative;
  /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2)); */
  font-size: 12px;
}
.waviy span {
  position: relative;
  display: inline-block;
  animation: waviy 2s infinite;
  animation-delay: calc(.05s * var(--i));
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0) 
  }
  20% {
    transform: translateY(-3px) rotateX(90deg) 
  }
}